body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "BancheroBold";
  src: local("BancheroBold"),url("../assets/fonts/Banchero-Bold.otf") format("truetype");
}
@font-face {
  font-family: "CeniosdemoRegular";
  src: local("CeniosdemoRegular"),url("../assets/fonts/CeniosdemoRegular-MVKzY.otf") format("truetype");
}
@font-face {
  font-family: "Ladyrose";
  src: local("Ladyrose"),url("../assets/fonts/ladyrose.otf") format("truetype");
}
@font-face {
  font-family: "SemiBold15";
  src: local("SemiBold15"),url("../assets/fonts/SharpGrotesk-SemiBold15.otf") format("truetype");
}
@font-face {
  font-family: "Medium15";
  src: local("Medium15"),url("../assets/fonts/SharpGrotesk-Medium15.otf") format("truetype");
}
@media screen and (min-width: 992px){

}

@media screen and (max-width:800px) {
  .Homepage{
    .Homepage_Header{
      height: 5vh;
      background-color: #E4E1D8;
    }
    .Homepage_PageName{
      width: 100%;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
         background-color: #E4E1D8;
         background-image:url('../assets/bg/bg/MainPage/1.jpg');
        background-position: 0% 50%;
        background-repeat: no-repeat;
        background-size: 50%;
      .Homepage_PageName_Minh{
        width: 50%;
        height: 30%;
        display: flex;
        margin-left: 10%;
        align-items: center;

        .Homepage_PageName_Minh_Img{
          width: 60%;
          margin-top: 5%;
          height: 100%;
        }
      }
      .Homepage_PageName_PMP{
        width: 60%;
        height: 17%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: right;
        z-index: 1;
        .Homepage_PageName_PMP_Img{
          margin-right: 13%;
          width: 70%;
          height: 60%;
        }
      }
      .Homepage_PageName_Text{
        width: 40%;
        height: 13%;
        display: flex;
        align-items: center;
        margin-left: 10%;
        font-family: "CeniosdemoRegular";
        font-size: 12px;
        letter-spacing: 2px;
      }
      .Homepage_PageName_Brother_Img{
        background-image:url('../assets/imgBrother/mybrother5.webp');
        background-position: 50% 30%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        z-index: 0;
      }
    }
    .Homepage_Seperate{
      height: 5vh;
      background-color: white;
    }
    .Homepage_Competition_Img{
      height: 50vh;
      background-color: #2d2e2d;
      display: grid;
      grid-template-columns: 25% 25% 25%;
      grid-template-rows: 60% 30%;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-content: center;
      padding-top: 10%;
      background-image:url('../assets/bg/bg/MainPage/2.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 6%;
      .Homepage_Competition_Img1{
        grid-column: 1 / 4;
        background-image:url('../assets/imgHome/imgHome1.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

      }
      .Homepage_Competition_Img2{
        background-image:url('../assets/imgHome/imgHome2.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .Homepage_Competition_Img3{
        background-image:url('../assets/imgHome/imgHome3.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .Homepage_Competition_Img4{
        background-image:url('../assets/imgHome/imgHome4.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .Homepage_Competition_Logo{
      height: 30vh;
      width: 80%;
      display: grid;
      grid-template-columns: 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
      grid-template-rows: auto auto auto;

      align-items: center;
      justify-content: center;
      column-gap: 2%;
      padding-left: 11%;
      background-image:url('../assets/bg/bg/MainPage/3.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      .Competition_Logo1{
        width: 60%;
        height: 40%;
        grid-column: span 3;
        margin: auto;

      }
      .Competition_Logo2{
        margin: auto;
        width: 60%;
        height: 60%;
        grid-column: span 3;
      }
      .Competition_Logo3{
        margin: auto;
        width: 70%;
        height: 60%;
        grid-column: span 3;
      }
      .Competition_Logo4{
        margin: auto;
        width: 50%;
        height: 45%;
        grid-column: span 3;
      }
      .Competition_Logo5{
        margin: auto;
        width: 50%;
        height: 40%;
        grid-column: span 3;
        background-color: black;
      }
      .Competition_Logo6{
        margin: auto;
        width: 50%;
        height: 50%;
        grid-column: span 3;
      }
      .Competition_Logo7{
        margin: auto;
        width: 60%;
        height: 40%;
        grid-column: span 3;
      }
      .Competition_Logo8{
        margin: auto;
        width: 50%;
        height: 50%;
        grid-column: span 3;
      }
      .Competition_Logo9{
        margin: auto;
        width: 70%;
        height: 30%;
        grid-column: span 4;
      }
      .Competition_Logo10{
        width: 70%;
        height: 40%;
        grid-column: span 4;
        margin: auto;
      }
      .Competition_Logo11{
        width: 70%;
        height: 40%;
        grid-column: span 4;
        margin: auto;
      }
    }
    .Homepage_Introduce{
      height: 50vh;
      width: 100%;
      background-color: #E4E1D8;
      display: flex;
      flex-direction: row;
      background-image:url('../assets/bg/bg/MainPage/4.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      .Homepage_Introduce_Video{
        width: 55%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .Homepage_Introduce_Video_Control{
          height: 70%;
          width: 70%;
        }
      }
      .Homepage_Introduce_Text{
        height: 85%;
        width: 36%;
        display: flex;
        justify-content: center;
        align-items:end;

        .Homepage_Introduce_Text_QuotationMark{
          width: 100%;
          height: 60%;
          position: relative;
          display: flex;

          align-items: center;
          .Homepage_Introduce_QuotationMark1{
            width: 25%;
            height: 30%;
            position: absolute;
            top: 2%;
            left: 0;
          }
          .Homepage_Introduce_MainText{
            width: 100%;  
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 10%;
            line-height: 15px;

            .Homepage_Introduce_MainText1{
              font-family: "BancheroBold";
              font-size: 60%;
            }
            .Homepage_Introduce_MainText2{
              font-family: "BancheroBold";
              font-size: 60%;
            }
          }
          .Homepage_Introduce_QuotationMark2{
            width: 25%;
            height: 30%;
            position: absolute;
            bottom: 5%;
            right: 0;
          }
        }
      }
    }
    .Homepage_Seperate2{
      height: 5vh;
      background-image:url('../assets/bg/bg/MainPage/5.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .Homepage_About{
      height: 70vh;
      width: 100%;
      background-color: #E4E1D8;
      padding-top: 1%;
      background-image:url('../assets/bg/bg/MainPage/6.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      .Homepage_About_Title{
        display: flex;
        flex-direction: row;
        height: 63%;
        margin-top: 10%;
        margin-left: 12%;

        .Homepage_About_Title1{
          font-size: 180%;
          height: 100%;
          width: 40%;
          font-family: "Ladyrose";
          padding-top: 5%;
          position: relative;
          text-align: right;
          letter-spacing: 2px;
        }
        .Homepage_About_Title2{
          height: 100%;
          width: 60%;
          background-image:url('../assets/imgBrother/mybrother7.webp');
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          font-size: 180%;
          font-family: "Ladyrose";
          margin-left: 3%;
          padding-left: 3%;
          padding-top: 5%;
          color: #E4E1D8;
          letter-spacing: 2px;
        }
        .Homepage_About_Title_Img{
          position: absolute;
          top: 18%;
          left: 15%;
          height: 70%;
          width: 130%;
          background-image:url('../assets/imgBrother/mybrother8.webp');
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border: 10px solid #E4E1D8;
          
        }
      }
      .Homepage_About_Text{
        width: 80%;
        height:10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 12%;
        margin-top: 10%;
        line-height: 15px;
        .Homepage_About_Text1{
          font-family: "Ladyrose";
          font-size: 60%;
          height: 30%;
        }
        .Homepage_About_Text2{
          width: 100%;
          font-family: "Ladyrose";
          font-size: 60%;
          height: 70%;
        }
      }
      .Homepage_About_Button{
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: right;
        .Homepage_About_Button_Text{
          width: 80px;
          height: 40%;
          color: #E4E1D8;
          background-color: black;
          border: none;
          font-family: "BancheroBold";
          cursor: pointer;
          font-size: 60%;
        }
      }
    }
    .Homepage_Achive{
      height: 50vh;
      width: 100%;
      background-color: white;
      background-image:url('../assets/bg/bg/MainPage/7.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 10%;
      padding-bottom: 8%;
      .Homepage_Achive_Title{
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 2%;
        .Homepage_Achive_Title1{
          font-size: 150%;
          font-family: "Ladyrose";
          letter-spacing: 2px;
        }
        .Homepage_Achive_Title2_Border{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 230px;
          height: 40px;
          background-color: #2d2e2d;
          .Homepage_Achive_Title2{
            color: #E4E1D8;
            font-size: 145%;
            font-family: "Ladyrose";
            letter-spacing: 2px;

          }
        }
      }
      .Homepage_Achive_Text{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 7%;
        .Homepage_Achive_Text_Content{
          width: 88%;
          font-family: "SemiBold15";
          font-size: 80%;
          text-align: center;
          line-height: 15px;
        }
      }
      .Homepage_Achive_Achive{
        height: 50%;
        width: 100%;
        .Homepage_Achive_Achive_Content{
          height: 70%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          .Homepage_Achive_Achive_Convention{
            width: 25vw;
            height: 25vw;
            background-color: #E4E1D8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px 10px 1px grey;
            .Homepage_Achive_Achive_Convention_Img{
              width: 70%;
              height: 43%;
            }
            .Homepage_Achive_Achive_Convention_Text{
              width: 100%;
              height: 10%;
              font-family: "Ladyrose";
              text-align: center;
              font-size: 60%;
            }
          }
          .Homepage_Achive_Achive_YrsExper{
            width: 30vw;
            height: 30vw;
            background-color: #E4E1D8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px 10px 1px grey;
            .Homepage_Achive_Achive_YrsExper_Img{
              width: 45%;
              height: 65%;
            }
            .Homepage_Achive_Achive_YrsExper_Text{
              width: 80%;
              height: 25%;
              font-family: "Ladyrose";
              text-align: center;
              font-size: 70%;
            }
          }
          .Homepage_Achive_Achive_Trophies{
            width: 25vw;
            height: 25vw;
            background-color: #E4E1D8;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 5px 5px 10px 1px grey;
            .Homepage_Achive_Achive_Trophies_Img{
              width: 70%;
              height: 43%;
            }
            .Homepage_Achive_Achive_Trophies_Text{
              width: 100%;
              height: 10%;
              font-family: "Ladyrose";
              text-align: center;
              font-size: 70%;
            }
          }
        }
        .Homepage_Achive_Achive_Details{
          height: 20%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          .Homepage_Achive_Achive_Details_Button{
            height: 25px;
            width: 120px;
            margin-top: 5%;
            font-family: "BancheroBold";
            font-size: 80%;
            background-color: #2d2e2d;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #E4E1D8;
          }
        }
      }
    }
    .Homepage_Gallery{
      height: 90vh;
      width: 100%;
      background-color:#2d2e2d ;
      background-image:url('../assets/bg/bg/MainPage/8.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      .Homepage_Gallery_Name{
        display: flex;
        justify-content: center;
        align-items: end;
        width: 100%;
        height: 8%;
        color:gray;
        font-family: "CeniosdemoRegular";
        font-size: 120%;
        letter-spacing: 5px;
      }
      .Homepage_Gallery_Title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7%;
        color:#b38632;
        font-family: "Ladyrose";
        font-size: 180%;
        letter-spacing: 5px;
      }
      .Homepage_Gallery_Text{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 18px;
        .Homepage_Gallery_Text_Content{
          width: 70%;
          color: #E4E1D8;
          font-family: "Medium15";
          font-size: 80%;
          text-align: center;
        }
      }
      .Homepage_Gallery_Img{
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .Homepage_Gallery_Img_Styles{
          width: 85%;
          height: 10%;
          display: grid;
          grid-template-columns: 30% 30% 30%;
          justify-content: center;
          margin-bottom: 5%;
          .Homepage_Gallery_Img_Styles_Style{
            color: gray;
            font-family: "Ladyrose";
            font-size: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .Homepage_Gallery_Img_Styles_Style_Left{
            color: gray;
          font-family: "Ladyrose";
          font-size: 80%;
          display: flex;

          align-items: center;

          cursor: pointer;
          }
          .Homepage_Gallery_Img_Styles_Style_Right{
            color: gray;
            font-family: "Ladyrose";
            font-size: 80%;
            display: flex;
            justify-content: end;
            align-items: center;
            text-align: left;
            cursor: pointer;
          }
          .active{
            color: white;
          }
        }
        .Homepage_Gallery_Img_Container{
          height: 80%;
          width: 80%;
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-template-rows:auto auto auto auto;
          overflow-y: auto;
          overflow-x: hidden;
          column-gap: 15px;
          row-gap: 15px;
          font-size: 100%;
          .Realism_div_1, .Realism_div_2, .Realism_div_3, .Realism_div_4, .Realism_div_5, .Realism_div_6, .Realism_div_7, .Realism_div_8, .Realism_div_9, .Realism_div_10,.Realism_div_11, .Realism_div_12, .Realism_div_13, .Realism_div_14, .Realism_div_15{
            width: 100%;
            height: 100%;
            .Realism_1,.Realism_8,.Realism_11,.Realism_2, .Realism_3, .Realism_4, .Realism_5, .Realism_6, .Realism_7, .Realism_9, .Realism_10, .Realism_12, .Realism_13, .Realism_14, .Realism_15{
              width: 100%;
              height: 100%;
            }
          }
           .Realism_div_2, .Realism_div_3, .Realism_div_4, .Realism_div_5, .Realism_div_6, .Realism_div_7, .Realism_div_9, .Realism_div_10, .Realism_div_12, .Realism_div_13, .Realism_div_14, .Realism_div_15{
            grid-column: span 1;
            grid-row: span 1;

           }
          .Realism_div_1,.Realism_div_8,.Realism_div_11{
            grid-column: span 2;
            grid-row: span 2;

          }
        
          .Portrait_div_1,.Portrait_div_2,.Portrait_div_3,.Portrait_div_4,.Portrait_div_5,.Portrait_div_6,.Portrait_div_7,.Portrait_div_8,.Portrait_div_9,.Portrait_div_10,.Portrait_div_11,.Portrait_div_12,.Portrait_div_13,.Portrait_div_14,.Portrait_div_15,.Portrait_div_16,.Portrait_div_17,.Portrait_div_18,.Portrait_div_19,.Portrait_div_20{
            width: 100%;
            height: 100%;
            .Portrait_1,.Portrait_2,.Portrait_3,.Portrait_4,.Portrait_5,.Portrait_6,.Portrait_7,.Portrait_8,.Portrait_9,.Portrait_10,.Portrait_11,.Portrait_12,.Portrait_13,.Portrait_14,.Portrait_15,.Portrait_16,.Portrait_17,.Portrait_18,.Portrait_19,.Portrait_20{
              width: 100%;
            height: 100%;
            }

          }
          .Portrait_div_2,.Portrait_div_3,.Portrait_div_4,.Portrait_div_5,.Portrait_div_6,.Portrait_div_7,.Portrait_div_9,.Portrait_div_10,.Portrait_div_12,.Portrait_div_13,.Portrait_div_14,.Portrait_div_15,.Portrait_div_16,.Portrait_div_17,.Portrait_div_19,.Portrait_div_20{
            grid-column: span 1;
            grid-row: span 1;
          }
          .Portrait_div_1,.Portrait_div_8,.Portrait_div_11,.Portrait_div_18{
            grid-column: span 2;
            grid-row: span 2;
          }
          
          .FineLine_div_1,.FineLine_div_2,.FineLine_div_3,.FineLine_div_4,.FineLine_div_5,.FineLine_div_6,.FineLine_div_7,.FineLine_div_8,.FineLine_div_9,.FineLine_div_10{
            width: 100%;
            height: 100%;
            .FineLine_1,.FineLine_2,.FineLine_3,.FineLine_4,.FineLine_5,.FineLine_6,.FineLine_7,.FineLine_8,.FineLine_9,.FineLine_10{
              height: 100%;
              width: 100%;
            }

          }
          .FineLine_div_2,.FineLine_div_3,.FineLine_div_4,.FineLine_div_5,.FineLine_div_6,.FineLine_div_7,.FineLine_div_9,.FineLine_div_10{
            grid-column: span 1;
            grid-row: span 1;
          }
          .FineLine_div_1,.FineLine_div_8{
            grid-column: span 2;
            grid-row: span 2;
          }
 
          .Color_div_1,.Color_div_2,.Color_div_3,.Color_div_4,.Color_div_5,.Color_div_6,.Color_div_7,.Color_div_8,.Color_div_9,.Color_div_10,.Color_div_11,.Color_div_12,.Color_div_13,.Color_div_14,.Color_div_15,.Color_div_16,.Color_div_17,.Color_div_18,.Color_div_19,.Color_div_20,.Color_div_21,.Color_div_22,.Color_div_23,.Color_div_24,.Color_div_25,.Color_div_26,.Color_div_27,.Color_div_28,.Color_div_29,.Color_div_30{
            width: 100%;
            height: 100%;
            .Color_1,.Color_2,.Color_3,.Color_4,.Color_5,.Color_6,.Color_7,.Color_8,.Color_9,.Color_10,.Color_11,.Color_12,.Color_13,.Color_14,.Color_15,.Color_16,.Color_17,.Color_18,.Color_19,.Color_20,.Color_21,.Color_22,.Color_23,.Color_24,.Color_25,.Color_26,.Color_27,.Color_28,.Color_29,.Color_30{
              width: 100%;
              height: 100%;
            }

          }
          .Color_div_2,.Color_div_3,.Color_div_4,.Color_div_5,.Color_div_6,.Color_div_7,.Color_div_9,.Color_div_10,.Color_div_12,.Color_div_13,.Color_div_14,.Color_div_15,.Color_div_16,.Color_div_17,.Color_div_19,.Color_div_20,.Color_div_22,.Color_div_23,.Color_div_24,.Color_div_25,.Color_div_26,.Color_div_27,.Color_div_29,.Color_div_30{
            grid-column: span 1;
            grid-row: span 1;
          }
          .Color_div_1,.Color_div_8,.Color_div_11,.Color_div_18,.Color_div_21,.Color_div_28{
            grid-column: span 2;
            grid-row: span 2;
          }

          .Blackgrey_div_1,.Blackgrey_div_2,.Blackgrey_div_3,.Blackgrey_div_4,.Blackgrey_div_5,.Blackgrey_div_6,.Blackgrey_div_7,.Blackgrey_div_8,.Blackgrey_div_9,.Blackgrey_div_10,.Blackgrey_div_11,.Blackgrey_div_12,.Blackgrey_div_13,.Blackgrey_div_14,.Blackgrey_div_15,.Blackgrey_div_16,.Blackgrey_div_17,.Blackgrey_div_18,.Blackgrey_div_19,.Blackgrey_div_20,.Blackgrey_div_21,.Blackgrey_div_22,.Blackgrey_div_23,.Blackgrey_div_24,.Blackgrey_div_25{
            width: 100%;
            height: 100%;
            .Blackgrey_1,.Blackgrey_2,.Blackgrey_3,.Blackgrey_4,.Blackgrey_5,.Blackgrey_6,.Blackgrey_7,.Blackgrey_8,.Blackgrey_9,.Blackgrey_10,.Blackgrey_11,.Blackgrey_12,.Blackgrey_13,.Blackgrey_14,.Blackgrey_15,.Blackgrey_16,.Blackgrey_17,.Blackgrey_18,.Blackgrey_19,.Blackgrey_20,.Blackgrey_21,.Blackgrey_22,.Blackgrey_23,.Blackgrey_24,.Blackgrey_25{
              width: 100%;
              height: 100%;
            }

          }
         .Blackgrey_div_2,.Blackgrey_div_3,.Blackgrey_div_4,.Blackgrey_div_5,.Blackgrey_div_6,.Blackgrey_div_7,.Blackgrey_div_9,.Blackgrey_div_10,.Blackgrey_div_12,.Blackgrey_div_13,.Blackgrey_div_14,.Blackgrey_div_15,.Blackgrey_div_16,.Blackgrey_div_17,.Blackgrey_div_19,.Blackgrey_div_20,.Blackgrey_div_22,.Blackgrey_div_23,.Blackgrey_div_24,.Blackgrey_div_25{
          grid-column: span 1;
          grid-row: span 1;
         }
          .Blackgrey_div_1,.Blackgrey_div_8,.Blackgrey_div_11,.Blackgrey_div_18,.Blackgrey_div_21{
            grid-column: span 2;
            grid-row: span 2;
          }
          .Asian_div_1,.Asian_div_2,.Asian_div_3,.Asian_div_4,.Asian_div_5,.Asian_div_6,.Asian_div_7,.Asian_div_8,.Asian_div_9{
            width: 100%;
            height: 100%;
            .Asian_1,.Asian_2,.Asian_3,.Asian_4,.Asian_5,.Asian_6,.Asian_7,.Asian_8,.Asian_9{
              width: 100%;
            height: 100%;
            }

          }
          .Asian_div_2,.Asian_div_3,.Asian_div_4,.Asian_div_5,.Asian_div_6,.Asian_div_7,.Asian_div_8,.Asian_div_9{
            grid-column: span 1;
          grid-row: span 1;
          }
          .Asian_div_1{
            grid-column: span 2;
            grid-row: span 2;
          }
        }
        
      }
      .Homepage_Gallery_Button{
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        .Homepage_Gallery_Button_Text{
          width: 30%;
          height: 30%;
          background-color: gray;
          font-family: "Ladyrose";
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          font-size: 70%;
        }
      }
    }
    .Homepage_Seperate3{
      height: 5vh;
      background-image:url('../assets/bg/bg/MainPage/9.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .Homepage_Contact{
      height: 30vh;
      width: 100%;
      background-color: black;
      background-image:url('../assets/bg/bg/MainPage/10.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10%;
      padding-bottom: 10%;
      .Homepage_Contact_Title{
        height: 20%;
        font-size: 180%;
        font-family: "Ladyrose";
        color:#b38632;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 7%;
        letter-spacing: 5px;
      }
      .Homepage_Contact_Content{
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .Homepage_Contact_Content_Text{
          color: #E4E1D8;
          font-family: "Medium15";
          margin-top: 10%;
          letter-spacing: 2px;
          font-size: 80%;
        }
      }
    }
    .Homepage_Map{
      height: 30vh;
      width: 100%;
      .Homepage_Map_Size{
        height: 100%;
        width: 100%;
        border: none;
      }
    }
    .Homepage_footer{
      height: 25vh;
    }
  }
}