.Homepage{
    background-image: url('../../../imgBrother/mybrother.webp');
    height: 100vh;
    overflow: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .Homepage_header_text{
        height: 100%;
        .Homepage_text{
            display: flex;
            height: 80%;
            color: white;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            font-family: Copperplate;
        }
    }
    .link_page{
        height: 260vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        align-items: center;
        justify-content: center;
        .Tattoos_link{
            display: flex;
            height: 50%;
            width: 50%;
            background-image: url('../../../imgBrother/mybrother3.webp');
            background-position: 50% 40%;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 500%;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            margin-bottom: 15vh;
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        .Art_link{
            display: flex;
            height: 50%;
            width: 50%;
            background-image: url('../../../imgBrother/mybrother5.webp');
            background-position: 50% 60%;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 500%;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            margin-bottom: 15vh;
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        .About_link{
            display: flex;
            height: 50%;
            width: 50%;
            background-image: url('../../../imgBrother/mybrother2.webp');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 500%;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            margin-bottom: 15vh;
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        .Contact_link{
            display: flex;
            height: 50%;
            width: 50%;
            background-image: url('../../../imgBrother/mybrother4.webp');
            background-position: 50% 10%;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 500%;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            margin-bottom: 15vh;
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
    }
    .Author_location{
        display: flex;
        flex-direction: column;
        height: 30%;
        background-color: rgb(121, 121, 121) ;
        color:white;
        align-items: center;
        justify-content: center;
        .Author_location_text{
            padding-top: 2%;
            font-size: 300%;
            font-family: Copperplate;
        }
        .Author_location_icon{
            font-size: 250%;
            font-family: Copperplate;
        }
    }

    .Homepage_footer{
        height: 50%;
    }
}


body{
    padding:0;
    margin:0;
    height: 100%;
    overflow: hidden;
}