.Homepage{
    background-image: url('../../../imgBrother/mybrother.jpeg');
    height: 100vh;
    overflow: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .Homepage_header_text{
        height: 100%;
        .Homepage_text{
            display: flex;
            height: 80%;
            color: white;
            font-size: 50px;
            align-items: center;
            justify-content: center;
            font-family: Copperplate;
        }
    }
    .link_page{
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        overflow: auto;
        .Tattoos_link{
            display: flex;
            background-image: url('../../../imgBrother/mybrother3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 100px;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        .Art_link{
            display: flex;
            background-image: url('../../../imgBrother/mybrother3.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 100px;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        .About_link{
            display: flex;
            background-image: url('../../../imgBrother/mybrother2.jpg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 100px;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
        .Contact_link{
            display: flex;
            background-image: url('../../../imgBrother/mybrother4.jpg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 100px;
            align-items: center;
            justify-content: center;
            color: white;
            font-family: Copperplate;
            text-decoration: none;
            -webkit-filter: brightness(100%);
            &:hover{
                -webkit-filter: brightness(50%);
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
    }
    .Author_text{
        display: flex;
        height: 30%;
        font-size: 50px;
        background-color: rgb(121, 121, 121) ;
        color:white;
        align-items: center;
        justify-content: center;
    }

    .Homepage_footer{
        height: 50%;
    }
}


body{
    padding:0;
    margin:0;
    height: 100%;
    overflow: hidden;
}