

@media screen and (max-width: 700px) {
    .Footer{
        display: flex;
        flex-direction: row;
        height:100%;
        background-color: #E4E1D8;
        .Footer_Infor{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            font-family: "Ladyrose";
            margin-left: 12%;
            .Footer_Infor_Img{
                margin-top: 9%;
                width: 50%;
                height: 25%;
                .Footer_Infor_Logo{
                    width: 100%;
                    height: 120%;
                }
            }
            .Footer_Infor_IG{
                margin-top: 5%;
                margin-bottom: 10%;
                font-size: 80%;
                height: 5%;
            }
            .Footer_Infor_Phone{
                margin-bottom: 9%;
                font-size: 80%;
                height: 5%;
            }
            .Footer_Infor_Icon{
                display: flex;
                flex-direction: row;
                height: 5%;

                .Footer_Infor_Icon_Fb{
                    font-size: 150%;
                    margin-right: 10%;
                }
                .Footer_Infor_Icon_Insta{
                    font-size: 150%;
                }
            }
        }
        .Footer_Link{
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-evenly;
            .Footer_Page{

                font-family: "Ladyrose";
                font-size: 80%;
                cursor: pointer;
                text-decoration: none;
                color: black;
            }
        }
    }
    
}


