

@media screen and (max-width: 700px){
  .ContactPage{
    .ContactPage_Header{
      height: 5vh;
    }
    .ContactPage_Background{
      height: 30vh;
      background-image:url('../assets/imgBrother/myBrother6.webp');
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
    }
    .ContactPage_Content{
      height: 40vh;
      width: 100%;
      background-color: #2d2e2d;
      background-image:url('../assets/bg/mainpage/Asset\ 24.jpg');
      background-position: 50% 80%;
      background-repeat: no-repeat;
      background-size: 100%;
      .ContactPage_Title{
        height: 25%;
        font-size: 180%;
        font-family: "Ladyrose";
        color:#b38632;
        display: flex;
        align-items: end;
        margin-left: 12%;

      }
      .ContactPage_Content{
        height: 50%;
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        background-color: #2d2e2d;
        .ContactPage_Content_Corlor{
          height: 100%;
          width: 10%;
          background-color:  #E4E1D8;
          margin-right: 5%;
        }
        .ContactPage_Content_Icon{
          height: 100%;
          display: flex;
          flex-direction: column;
          width: 70%;
          justify-content: space-between;
          .ContactPage_Content_Icon_Phone{
            height: 15%;
            display: flex;
            width: 100%;
            flex-direction: row;
            .ContactPage_Content_Icon_Phone_Icon{
              color: white;
              margin-right: 7%;
              font-size: 80%;
            }
            .ContactPage_Content_Icon_Phone_Text{
              color: white;
              font-size: 80%;
              font-family: "Medium15";
            }
          }
          .ContactPage_Content_Icon_Insta{
            height: 15%;
            display: flex;
            width: 100%;
            flex-direction: row;
            .ContactPage_Content_Icon_Insta_Icon{
              color: white;
              margin-right: 7%;
              font-size: 80%;
            }
            .ContactPage_Content_Icon_Insta_Text{
              color: white;
              font-size: 80%;
              font-family: "Medium15";
            }
          }
          .ContactPage_Content_Icon_Mail{
            height: 15%;
            display: flex;
            width: 100%;
            flex-direction: row;
            .ContactPage_Content_Icon_Mail_Icon{
              color: white;
              margin-right: 7%;
              font-size: 80%;
            }
            .ContactPage_Content_Icon_Mail_Text{
              color: white;
              font-size: 80%;
              font-family: "Medium15";
            }
          }
          .ContactPage_Content_Icon_Locate{
            height: 15%;
            display: flex;
            width: 100%;
            flex-direction: row;
            .ContactPage_Content_Icon_Locate_Icon{
              color: white;
              margin-right: 7%;
              font-size: 80%;
            }
            .ContactPage_Content_Icon_Locate_Text{
              color: white;
              font-size: 80%;
              font-family: "Medium15";
            }
          }
        }
    }
  }
    .ContactPage_Footer{
      height: 25vh;
    }
  }

}