.ContactPage{
    background-image: url('../../../imgBrother/mybrother.webp');
    height: 100vh;
    overflow: auto;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .Contact_text{
        display: flex;
        color: white;
        font-size: 300%;
        height: 40%;
        align-items: center;
        justify-content: center;
    }
    .Contact_number_socialMedia{
        display: flex;
        flex-direction: column;
        color: white;
        background-color:  rgb(121, 121, 121);
        font-size: 150%;
        height: 50%;
        align-items: center;
        justify-content: center;
        .Contact{
            display: flex;
            padding: 2%;
            .Icon{
                padding-right: 10px;
            }
        }
    }
    .ContactPage_footer{
        height: 50%;
    }
}