

@media screen and (max-width: 700px){
  .ContactPage{
    .ContactPage_Header{
      height: 5vh;
    }
    .ContactPage_Background{
      height: 30vh;
      background-image:url('../assets/imgBrother/myBrother6.webp');
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: cover;
    }
    .ContactPage_Content{
      height: 40vh;
      width: 100%;
      background-color: black;
      background-image:url('../assets/bg/bg/MainPage/10.jpg');
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10%;
      .ContactPage_Title{
        height: 20%;
        font-size: 180%;
        font-family: "Ladyrose";
        color:#b38632;
        display: flex;
        align-items: end;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8%;
        letter-spacing: 5px;

      }
      .ContactPage_Content_Content{
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .ContactPage_Content_Text{
          color: #E4E1D8;
          font-family: "Medium15";
          margin-top: 12%;
          letter-spacing: 2px;
        }
       
    }
  }
    .ContactPage_Footer{
      height: 25vh;
    }
  }

}