*{
    font-family: "Lucida Console", "Courier New", monospace;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    .page_name{
        font-size: 40px;
        text-decoration: none;
        color: white;
        font-family: 'Trebuchet MS', sans-serif;
        padding-left: 30px;
    }
    .left_header_component{
        padding: 20px;
        text-decoration: none;
        color: white;
        &:hover{
            color: rgb(165, 164, 164);
        }
    }
}


