*{
    font-family: "Lucida Console", "Courier New", monospace;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1%;
    .page_name{
        font-size: 300%;
        text-decoration: none;
        color: white;
        font-family: 'Trebuchet MS', sans-serif;
        padding-left: 3%;
    }
    .left_header{
        padding-right: 13%;
        .left_header_component{
            padding: 10%;
            text-decoration: none;
            color: white;
            &:hover{
                color: rgb(165, 164, 164);
            }
        }
    }
}


